/* Extra small devices (phones, 600px and down) */
@media only screen and (min-width: 320px) and (max-width: 375px){
    .main { 
        width: 100% !important;
    }
    .main-box {
        width: 100% !important;
    }
    hr {
        width: 218px !important;
    }
    section.text_section .heading h1 {
        font-size: 22px !important; 
    }
    section.text_section .heading p {
        margin-top: 19px; 
        font-size: 13px !important; 
    }
    .user h2 {
        font-size: 17px !important; 
    }
    .banner img {
        width: 293px;
    }
    button.btn_1st {
        border-radius: 10px;
        font-size: 17px;
        padding: 10px 12px;
    }
   
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 375px) and (max-width: 425px){
    .main { 
        width: 100% !important;
    }
    .main-box {
        width: 100% !important;
    }
    hr {
        width: 218px !important;
    }
    section.text_section .heading h1 {
        font-size: 22px !important; 
    }
    .banner img {
        width: 346px;
    }
    button.btn_1st {
        border-radius: 10px; 
        font-size: 20px;
        padding: 10px 15px; 
    }
    
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 425px) and (max-width: 768px){
    .main { 
        width: 100% !important;
    }
    .main-box {
        width: 100% !important;
    }
    hr {
        width: 218px !important;
    }
    section.text_section .heading h1 {
        font-size: 31px !important; 
    }
    section.text_section .heading p {
        margin-top: 20px; 
        font-size: 18px !important; 
    }
    .user h2 {
        font-size: 22px !important; 
    }
    .banner img {
        width: 90%;
    }
    button.btn_1st {
        border-radius: 10px; 
        font-size: 20px;
        padding: 10px 15px; 
    }
   
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 768px) and (max-width: 1024px){
    .main-box {
        width: 100% !important;
    }
    section.text_section .heading h1 {
        font-size: 22px !important; 
    }
    .banner img {
        width: 96%;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1024px) and (max-width: 1200px){
    .main-box {
        width: 100% !important;
    }
    .banner img {
        width: 96%;
    }
}
@media only screen and (min-width: 1200px) and (max-width: 1440px){
    .main-box {
        width: 100% !important;
    }
    .banner img {
        width: 98%;
    }
}